@font-face {
  font-family: "VCR OSD Mono";
  src: url("./assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.home-content {
  text-align: center;
  padding: 25px;
  font-family: "VCR OSD Mono", monospace;
  font-size: 10px;
  font-weight: normal;
  color: #615147;
  letter-spacing: 1px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.app-title {
  -webkit-app-region: drag;
  cursor: move;
}

#step-name {
  margin: 50px auto 10px auto;
  padding: 12px;
  font-family: "VCR OSD Mono", monospace;
  font-size: 20px;
  font-weight: normal;
  color: #615147;
  letter-spacing: 1px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-icon {
  width: 100px;
  height: auto;
  display: block;
  margin: 50px auto 10px auto;
}

body {
  background-image: url("./assets/appbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  position: relative;
}

.app-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 12px;
  font-family: "VCR OSD Mono", monospace;
  font-size: 20px;
  font-weight: normal;
  color: #615147;
  letter-spacing: 1px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.window-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  gap: 8px;
  padding: 12px;
}

.start-button {
  font-family: "VCR OSD Mono", monospace;
  font-size: 15px;
  font-weight: normal;
  color: hsl(26, 47%, 88%);
  background: #8b382d;
  border: 3px solid #91443f;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  letter-spacing: 1px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transition: all 0.1s;
  margin: 50px auto 10px auto;
  display: block;
  width: auto;
  min-width: 60px;
}

#timer-display {
  display: inline-block; /* critical */
  width: auto; /* do NOT use fit-content here */
  margin: 12px 0;

  text-align: center;
  margin: 1rem 0;
  font-size: 20px;
  font-weight: 400;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  font-variant-numeric: tabular-nums;

  padding: 10px 20px;
  border-radius: 8px;

  background: #fdf6ec;
  color: #5a3e2b;

  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08),
    0 10px 10px rgba(0, 0, 0, 0.08);

  letter-spacing: 0.12em;
}
#timer-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
